* {
    padding: 0;
    margin: 0;
}

/*Começo do cabeçalho*/
h1 {
    font-family: 'SlabOne-Regular.ttf';
    font-size: 90px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    color: #E5E0D8;
}

h2 {
    font-size: 35px;
    color: #E5E0D8;
}

h3 {
    font-family: 'SlabOne-Regular.ttf';
    font-size: 30px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    color: #E5E0D8;
}

header {
    font-family: 'SlabOne-Regular.ttf';
}

.cor-fundo {
    background-color: #E5E0D8;
}

.cabecalho {
    width: 100%;
    height: 150px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.carrinho a {
    margin-left: 1000px;
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
}

.perfil a {
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
}

.texto-mydog {
    text-align: center;
}

.texto-mydog h2 {
    font-size: 25px;
    padding: 0px 10px 0px 0px;
}

.ponto-exclamacao h2 {
    font-size: 65px;
}

.lobster-regular {
    font-family: "Alfa", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*fim do cabeçalho*/

/*Inicio menu superior*/
.menu-superior {
    width: 1533px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.menu-superior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-superior ul li {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    padding: 0px 10px 0px 10px;
    background-color: whitesmoke;
    font-family: 'SlabOne-Regular.ttf';
}

.menu-superior ul li:hover {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    background-color: rgba(238, 235, 235, 0.705);
}

@font-face {
    font-family: 'AlfaSlabOne-Regular';
    src: url(./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}

.fonte {
    font-family: 'AlfaSlabOne-Regular';
}

.fonte-form {
    font-family: 'AlfaSlabOne-Regular';
    font-size: 13px;
}

@font-face{ 
    font-family: 'AlegreyaSC-Regular';
    src: url(./fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}
.fonte2{
    font-family: 'AlegreyaSC-Regular';
}
.fonte2-form{
    font-family: 'AlegreyaSC-Regular';
    font-size: 13px;
}

.titulo-contato {
    display: flex;
    justify-content: center;
}

.cor-contato {
    background-color: hsl(0, 0%, 28%);
    margin: 16px;
    color: whitesmoke;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-superior {
    width: 110%;
    height: 50px;
    background-color: whitesmoke;
    color: whitesmoke;
}

.menu-superior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-superior ul li {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 220px;
    padding: 0px 10px 0px 10px
}

.menu-superior ul li:hover {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 220px;
    background-color: rgba(221, 210, 210, 0.633);
}

/*Fim do menu superior*/

/*Incio da página*/
.entre-em-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entre-em-contato label {
    font-weight: bolder;
    color: #809671;
}

.entre-em-contato input,
.entre-em-contato textarea {
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    border: 3px solid;
    border-color: #809671;
    background-color: #809671;
    padding: 2px 5px 2px 5px;
}

.icone-cor {
    color: #809671;
}

.icone-cor:hover {
    color: #809671;
}

.body {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}


.input {
    width: 30%;
    height: 50px;
    margin: 3px;
    text-align: inherit;
    padding-left: 10px;
    box-sizing: border-box;
}

.label:after {
    padding-right: 10px;
}

.form-esquerda {
    text-align: left;
    width: 80%;
    margin: 0 auto 0 0;
}

.enviar {
    width: 70px;
    height: 35px;
    margin-top: 10px;
    background-color: #809671;
    border-color: #809671;
    color: #FFFFFF;
}

.form-esquerda-botao {
    text-align: end;
    width: 59%;
    margin: 0 auto 0 0;
    margin-top: 0;
}



/*Inicio do rodape*/

.rodape-caixa {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.coluna1 {
    margin: 10px 0px 5px 10px;
    border-right: 1px solid white;
    padding: 5px 100px 5px 20px;
    font-size: 20px;
    color: #ffffff;
}


.coluna2 {
    margin: 0px 0px 5px 10px;
    border-right: 1px solid white;
    padding: 5px 200px 5px 10px;
    font-size: 10px;
    color: #ffffff;
}

.coluna3 {
    margin: 0px 0px 0px 20px;
    border-right: 1px solid white;
    padding: 5px 200px 5px 10px;
    font-size: 10px;
    color: #ffffff;
}

.coluna4 {
    margin: 0px 45px 0px 45px;
    border: solid;
    border-radius: 10px;
    border-color: white;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    color: #ffffff;
}

.coluna4 a {
    text-decoration: none;
    color: white;
}

.coluna hover {
    display: inline-block;
    position: relative;
    color: white;
}

h3 {
    font-size: 25px;
    color: #ffffff;
}

h4 {
    text-align: justify;
    color: #ffffff;
    margin-left: 10px;
}
.imagem {
    width: 25px;
    height: 25px;
    margin: 100px 2px 0px -70px;
}
.logotipo{
    width: 130px;
    height: 140px;
    margin-left: 50px;
}
/*fim do rodape*/