* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'SlabOne-Regular.ttf';
    src: url('./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}

h1 {
    font-family: 'SlabOne-Regular.ttf';
    font-size: 90px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    color: #E5E0D8;
}

header {
    font-family: 'SlabOne-Regular.ttf';
}

h2 {
    font-size: 35px;
    color: #E5E0D8;
}

p {
    font-size: 35px;
    color: #E5E0D8;
}

.cor-fundo {
    background-color: #E5E0D8;
}

.cabecalho {
    width: 100%;
    height: 150px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.carrinho a {
    margin-left: 1000px;
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
    text-decoration: none;
}

.perfil a {
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
    text-decoration: none;
}

.texto-mydog {
    text-align: center;
}

.texto-mydog h2 {
    font-size: 25px;
    padding: 0px 10px 0px 0px;
}

.ponto-exclamacao h2 {
    font-size: 65px;
}

.lobster-regular {
    font-family: "Alfa", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container {
    background-color: #CEC9C2;
}

/* menu superior inicio */

.menu-superior {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.menu-superior a {
    text-decoration: none;
    color: #809671;
}

.menu-superior ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-superior ul li {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    padding: 0px 10px 0px 10px;
    font-family: 'SlabOne-Regular.ttf';
}

/* Fim do cabeçalho */
/* Começo do primeiro retangulo */
.corpo {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    justify-content: space-between
}

.retangulo1 {
    display: block;
    width: 669px;
    height: 1800px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 0px #7d946d;
    background: #809671;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.retangulo-interior1 {
    width: 602px;
    height: 309px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
    box-shadow: 2px 10px 10px 0px #687b5b;
    justify-content: center;
}

.letras{
    font-family: 'SlabOne-Regular.ttf';
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    text-shadow: 10px 10px 10px 0px rgb(129, 129, 129)
}

.linhas{
    width: 607px;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    box-shadow: 1px 1px 10px 0px #7d946d;
}


/* Fim do primeiro retangulo */
/* Começo do segundo retangulo */
.retangulo2 {
    display: block;
    width: 669px;
    height: 1800px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 0px #7d946d;
    background: #809671;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.retangulo-interior2 {
    width: 602px;
    height: 309px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
    box-shadow: 2px 10px 10px 0px #687b5b;
    justify-content: center;
}


/* Fim do segundo retangulo */
/* inicio rodape */
.rodape-caixa {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

/* Colunas do radapé */
.coluna1 {
    margin: 10px 0px 5px 10px;
    border-right: 1px solid white;
    padding: 5px 100px 5px 20px;
    font-size: 20px;
    color: #ffffff;
}

.coluna2 {
    margin: 0px 0px 5px 10px;
    border-right: 1px solid white;
    padding: 5px 200px 5px 10px;
    font-size: 10px;
    color: #ffffff;
}

.coluna3 {
    margin: 0px 0px 0px 20px;
    border-right: 1px solid white;
    padding: 5px 200px 5px 10px;
    font-size: 10px;
    color: #ffffff;
}

.coluna4 {
    margin: 0px 45px 0px 65px;
    border: solid;
    border-radius: 10px;
    border-color: white;
    padding: 5px 20px 5px 20px;
    font-size: 10px;
    color: #ffffff;
}

.coluna4 a {
    text-decoration: none;
    color: white;
}

/* Colunas do rodapé */
h3 {
    font-size: 25px;
    color: #ffffff;
}

h4 {
    text-align: justify;
    color: #ffffff;
    margin-left: 10px;
}

.imagem {
    width: 25px;
    height: 25px;
    margin: 100px 10px 0px -75px;
}

.logotipo {
    width: 130px;
    height: 140px;
    margin-left: 50px;
}

/* final do rodape */