/* Começo do cabeçalho */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'SlabOne-Regular.ttf';
    src: url('./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}

h1 {
    font-family: 'SlabOne-Regular.ttf';
    font-size: 90px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    color: #E5E0D8;
}

header {
    font-family: 'SlabOne-Regular.ttf';
}

h2 {
    font-size: 35px;
    color: #E5E0D8;
}

.cor-fundo {
    background-color: #E5E0D8;
}

.cabecalho {
    width: 100%;
    height: 150px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.carrinho a {
    margin-left: 1000px;
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
}

.perfil a {
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
}

.texto-mydog {
    text-align: center;
}

.texto-mydog h2 {
    font-size: 25px;
    padding: 0px 10px 0px 0px;
}

.ponto-exclamacao h2 {
    font-size: 65px;
}

.lobster-regular {
    font-family: "Alfa", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-superior {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.menu-superior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-superior ul li {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    padding: 0px 10px 0px 10px;
    font-size: rgba(0, 0, 0, 0.705);
    font-family: 'SlabOne-Regular.ttf';
}

.menu-superior ul li:hover {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    background-color: rgba(238, 235, 235, 0.705);
}

/* Fim do cabeçalho */
/* Começo do primeiro retangulo */
.corpo {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    justify-content: space-between
}

.retangulo1 {
    display: flex;
    width: 669px;
    height: 1402px;
    border-radius: 50px;
    background: #809671;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.circulo1 {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background-color: #E5E0D8;
    margin-top: 25px;
}

.retangulo-interior {
    width: 602px;
    height: 121px;
    border-radius: 50px;
    background: #E5E0D8;

}

/* Fim do primeiro retangulo */
/* Começo do segundo retangulo */
.retangulo2 {
    display: flex;
    width: 669px;
    height: 1402px;
    border-radius: 50px;
    background: #809671;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.circulo2 {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background-color: #E5E0D8;
    margin-top: 25px;
}

/* Fim do segundo retangulo */