* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family:'SlabOne-Regular.ttf' ;
    src: url('./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}
h1{
    font-family: 'SlabOne-Regular.ttf';
    font-size: 90px;
    text-align: justify;
    color: #E5E0D8;
}
header{
    font-family: 'SlabOne-Regular.ttf';
}
h2{
    font-size: 35px;
    color: #E5E0D8;
}
.cor-fundo{
    background-color: #E5E0D8;
}
.cabecalho {
    width: 100%;
    height: 150px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}
.texto-mydog {
    text-align: center;   
    
}
.texto-mydog h2 {
    font-size: 25px;
    padding: 0px 20px 0px 0px;
}
.ponto-exclamacao h2{
    font-size: 65px;
}
.lobster-regular {
  font-family: "Alfa", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.menu-superior {
    width: 100%;
    height: 50px;
    background-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.menu-superior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-superior ul li {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    padding: 0px 10px 0px 10px;
    font-size: 25px black;
}

.menu-superior ul li:hover {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    background-color: black;
}
#container{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 500px;
    height: 120px;
    margin: auto;
    box-shadow: 0px 0px 10px #809671;
    padding: 100px;
    box-sizing: border-box;
    background-color: #809671;
    text-align: center;
}
.linha{
    clear: both;
}
.column-3 {    
    width: 10%;    
}

.column-9 {    
    width: 75%;    
}       

.label {
    padding-top: px;
    text-align: center;    
}

.label:after {
    padding-right: 5px;
}

.column {
    float: left;
    height: 41px;    
}

.input input {
    width: 400px;
    height: 34px;    
    padding-left: 5px;
    box-sizing: border-box;
}