* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
@font-face {
    font-family:'SlabOne-Regular.ttf' ;
    src: url('./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}
h1{
    font-family: 'SlabOne-Regular.ttf';
    font-size: 90px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    color: #E5E0D8;
}
header{
    font-family: 'SlabOne-Regular.ttf';
}
h2{
    font-size: 35px;
    color: #E5E0D8;
}
p{
    font-size: 35px;
    color: #E5E0D8;
}
.cor-fundo{
    background-color: #E5E0D8;
}
.cabecalho {
    width: 100%;
    height: 150px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.carrinho a{
    margin-left:1000px;
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
}
.perfil a{
    padding: 0px 50px 0px 10px;
    color: #E5E0D8;
}
.texto-mydog {
    text-align: center;   
}
.texto-mydog h2 {
    font-size: 25px;
    padding: 0px 10px 0px 0px;
}
.ponto-exclamacao h2 {
    font-size: 65px;
}

.lobster-regular {
  font-family: "Alfa", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#container{
    background-color: #CEC9C2;
}
/* menu superior inicio */

.menu-superior {
    width: 100%;
    height: 50px;
    background-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.menu-superior ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-superior ul li {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    padding: 0px 10px 0px 10px;
    font-size:  rgba(0, 0, 0, 0.705);
    font-family: 'SlabOne-Regular.ttf';
}

.menu-superior ul li:hover {
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-left: 200px;
    background-color:  rgba(238, 235, 235, 0.705);
}
/* menu superior fim */
/* começo do corpo da página */
.sobre-nos{
    margin: 10px 5px 10px 5px;
    width: 710px;
    height: 610px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    margin-right: 750px;
    margin-left: 25px; 
    background-color: #768A68;
    color: #D1CCC5;
}
.sobre-nos h2{
    text-align: center;
}
.servicos{      
    margin: 10px 5px 10px 5px;
    width: 680px;
    height: 550px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    margin-left: 750px;
    margin-right: 25px; 
    background-color: #768A68;
    color: #D1CCC5;
}
.servicos h2{
    text-align: center;
}
/* fim do corpo da página */
.caixa-maior {
    margin: 50px 360px 50px 360px;
    width: 800px;
    height: 485px;
    border-radius: 10px;
    background: linear-gradient(180deg, #809671 0%, #293024 100%);
}

.titulo {
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #E5E0D8;
}

.caixa-de-email {
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #E5E0D8;
}

.caixa-de-email input {
    width: 525px;
    height: 57px;
    padding-left: 5px;
    border-color: #E5E0D8;
    border-radius: 10px;
    background-color: #E5E0D8;
    color: rgba(128, 150, 113, 0.80);
}

.caixa-de-senha {
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #E5E0D8;
}

.caixa-de-senha input {
    width: 525px;
    height: 57px;
    padding-left: 5px;
    border-color: #E5E0D8;
    border-radius: 10px;
    background-color: #E5E0D8;
    color: rgba(128, 150, 113, 0.80);
}

.button {
    width: 158px;
    height: 40px;
    margin: 0px 0px 0px 325px;
    border-radius: 110px;
    border-color: #E5E0D8;
    background-color: #E5E0D8;
    color: rgba(128, 150, 113, 0.80);
}

.rodape-caixa {
    width: 100%;
    height: 150px;
    background-color: #809671;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.coluna1 {
    margin: 10px 0px 5px 10px;
    border-right: 1px solid white;
    padding: 5px 100px 5px 20px;
    font-size: 20px;
    color: #ffffff;
}

.coluna2 {
    margin: 10px 0px 5px 10px;
    border-right: 1px solid white;
    padding: 5px 200px 5px 10px;
    font-size: 10px;
    color: #ffffff;
}

.coluna3 {
    margin: 0px 0px 0px 25px;
    border-right: 1px solid white;
    padding: 5px 250px 5px 0px;
    font-size: 10px;
    color: #ffffff;
}

.coluna4 {
    margin: 0px 30px 0px 45px;
    border: solid;
    border-radius: 10px;
    border-color: white;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    color: #ffffff;
}

.coluna4 a {
    text-decoration: none;
    color: white;
}

.coluna hover {
    display: inline-block;
    position: relative;
    color: white;
}

h3 {
    font-size: 25px;
    color: #ffffff;
}

h4 {
    text-align: justify;
    color: #ffffff;
}

.imagem {
    width: 48x;
    height: 51px;
}